.DS_Store
.env
.env.*
!.env.example
node_modules/
dist/
coverage/
.turbo/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
android/.gradle/
*.iml
